#container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    height: 20px;
    width: 20px;
    
    background: red;
}

.square:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}

.square:nth-child(17n) {
    background: blue;
}