#container {
    display: flex;
    flex-wrap: wrap;
}

.square {
   /* border: 1px solid black;*/
    flex-shrink: 0;
    flex-basis: 6.25%; /*1/16*/
    min-width: 20px;
}

/*
.square:nth-child(16n) {
    flex-basis: 100%;
}