#container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    border: 1px solid black;
    box-sizing: border-box;
}

.square {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
}

.brk {
    display: block;
    width: 100%;
}